html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #000;
  font: 16px/1.35 Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
