.header {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.mainTitle {
  font-size: clamp(2.6em, 6vw, 3.1em);
  line-height: 1.2;
  margin: 2.4em 0 0.3em;
}

.mainSlogan {
  font-size: 1.4rem;
}

.logo {
  left: 0;
  position: absolute;
  top: 0;
}
